<section class="section-2" id="about">
    <div data-aos="zoom-in-down" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
    <div class="aboutcontainer">
        <div class="abtmestyle">
                <h1 class="title">
                    <%= lang.About.Title %>
                </h1>
                <br>
                <div>
                    <p class="description">
                        <%= lang.About.Subtitle %>`
                </div>
                <div class="contact">
                    <br>
                    <p class="title">Contacts</p>
                    <br>
                    <a href="https://discord.com/users/531802615202316298" target="_blank" class="contacts discord">
                        <i class="fab fa-discord"  width="10px"></i>
                    </a>
                    <a href="https://github.com/EpicCatto" target="_blank" class="contacts github">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.youtube.com/@phatlor" target="_blank" class="contacts youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://www.instagram.com/phat.lor/" target="_blank" class="contacts instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/EpicCatto4321" target="_blank" class="contacts twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="mailto:contact@phatlor.me" target="_blank" class="contacts email">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
