<section class="section-2" id="about">
    <!-- make everything center -->
    <div data-aos="zoom-in-down" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
    <div class="aboutcontainer">
        <div class="abtmestyle">
                <h1 class="title">
                    <%= lang.About.Title %>
                </h1>
                <br>
                <div>
                    <p class="description">
                        <%= lang.About.Subtitle %>
                </div>
                <div class="contact">
                    <br>
                    <p class="title"><%= lang.About.Contacts.Title %></p>
                    <br>
                    <a href="https://discord.com/users/531802615202316298" target="_blank" class="contacts discord">
                        <i class="fab fa-discord"  width="10px"></i>
                    </a>
                    <a href="https://github.com/EpicCatto" target="_blank" class="contacts github">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.youtube.com/@phatlor" target="_blank" class="contacts youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://www.instagram.com/phat.lor/" target="_blank" class="contacts instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/EpicCatto4321" target="_blank" class="contacts twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="mailto:contact@phatlor.me" target="_blank" class="contacts email">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="zoom-in-down" data-aos-duration="1000">

    <div class="exp-container">
        <p class='title'><%= lang.About.Experiences.Title %></p>
        <br>
        <p class="smalltitle">Programming Languages</p>
        <div>
            <div class="logos">
                <!-- load svg -->
                <div class="logo-contain">
                    <div class="logo">
                        <img src="/svg/html-logo.svg" alt="HTML"></img>
                        <P>HTML</P>
                        <p>1 yr</p>
                    </div>
                    <div class="logo">
                        <img src="/svg/css-logo.svg" alt="CSS"></img>
                        <P>CSS</P>
                        <p>3 mo</p>
                    </div>
                    <div class="logo">
                        <img src="/svg/js-logo.svg" alt="JavaScript"></img>
                        <P>JavaScript</P>
                        <p>2 yr</p>
                    </div>
                    <div class="logo">
                        <img src="/svg/python-logo.svg" alt="Python"></img>
                        <P>Python</P>
                        <p>>2 mo</p>
                    </div>
                </div>
                <br>
                <div class="logo-contain">
                    <div class="logo">
                        <img src="/svg/java-logo.svg" alt="Java"></img>             
                        <P>HTML</P>
                        <p>3 yr</p>
                    </div>
                    <div class="logo">
                        <img src="/svg/nextjs-logo.svg" alt="NextJS"></img>
                        <P>Next</P>
                        <p>>2 mo</p>
                    </div>
                    <div class="logo">
                        <img src="/svg/nodejs-logo.svg" alt="NodeJS"></img>
                        <P>Node</P>
                        <p>2 yr</p>
                    </div>
                    <div class="logo">
                        <img src="/svg/csharp-logo.svg" alt="CSharp"></img>
                        <P>C#</P>
                        <p>10 mo</p>
                    </div>
    
                </div>
            </div>
        </div>
        <br>
        <p class="smalltitle">Work</p>
        <div id="works-container">

        </div>
        </div>
    </div>
</section>
