<div class="achievement-container"  id="achievement">
    <br><br><br><br><br><br><br>
    <p class="title" data-aos="zoom-in-up"><%= lang.Achievement.title %></p>
    <br><br>
    <!-- awards -->
    <div class="container-a">
        <p class="title" data-aos="zoom-in-up" data-aos-delay="100"><%= lang.Achievement.items.Awards.title %></p>
        <div class="awards-container">
        </div>
    </div>
    <!-- certificates -->
    <div class="container-c" >
        <p class="title" data-aos="zoom-in-up"><%= lang.Achievement.items.Certificates.title %></p>
        <div class="certificates-container">
        </div>
    </div>    
</div>