<div class="footer">
    <br><br><br><br>
    <center>
        <p>Copyright © Phat Lorthammakun 2022 - 2023</p>
        <div>
            <a href="">Source Code</a>
            -
            <a href="https://bss.phatlor.me/terms">Privacy Policy/Terms</a>
        </div>    
    </center>
</div>