<section class="section-1" id="home">
    <div data-aos="zoom-out-up" >
    <div class="stringcontainer">
        <h1 class="title">
            <%= lang.Home.Title %>
        </h1>
        <p class="description">
            <%= lang.Home.Subtitle %>
        </p>
    </div>
</div>
</section>