 <!--  projects -->
 <div class="container-p" id="projects">
    <!-- started after navbar -->
    <br><br><br><br>
    <h1 class="title" data-aos="zoom-in-down">Projects</h1>
    <br><br><br><br>
    <div class="load-option-box" id="pjwarnsel">
        <p class="title">Hold on! please select your data settings this is for your own good</p>
        <!-- Data saver(Only title and description, basic information) and Normal(Can take up to 200mb to load assets) -->
        <!-- description explains -->
        <p class="description">Data saver will only load the title and description of the project, this is for people with slow internet connection or people who don't want to load the assets of the project. Normal will load the assets of the project, this is for people with fast internet connection or people who want to load the assets of the project.</p>
        <br><br><br><br>
        <div class="options">
            <button class="btn btn-primary" id="data-saver" onclick="renderProjects(true)">Data Saver (Recommended)</button>
            <button class="btn btn-primary" id="normal" onclick="renderProjects(false)">Normal</button>
        </div>
        <br>
    </div>

    <div class="projects-container">
    </div>
    <br><br><br><br>

</div>

<script src="js/projects.js"></script>