 <!--  projects -->
 <div class="container-p" id="projects">
    <!-- started after navbar -->
    <br><br><br><br>
    <h1 class="title">Projects</h1>
    <br>
    <center>
        <span id="loading-text">Loading projects please wait...</span>
    </center>
    <div class="projects-container">
    </div>
</div>

<script src="js/projects.js"></script>
<script>
    renderProjects();
</script>