<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Phat Lorthammakun</title>

    <!-- info for google search engine -->
    <!-- I'm a developer, and students you can come check my site out! -->
    <meta name="description" content="Phat Lorthammakun. I'm a High School student, I like coding!">
    <meta name="keywords" content="phat">
    <meta name="author" content="EpicCatto">

    <!-- Load css  -->
    <link rel="stylesheet" href="css/index.css">

    <!-- load scripts -->
    <script src="https://kit.fontawesome.com/955d8ce723.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- embed thingy -->
    <meta content="Phat Lorthammakun" property="og:title" />
    <meta content="Hello my name is Phat Lorthammakun. I'm a High School student, and I like coding!" property="og:description" />
    <meta content="https://phatlor.me" property="og:url" />
    <meta content="https://epiccatto.dev/img/mrshark.png" property="og:image" />
    <meta content="#4e99cc" data-react-helmet="true" name="theme-color" />
</head>

<body>

</body>
<html>
    <section class="section-1">
        <div>
            <h1 class="title">Phat Lorthammakun - High School Student and Coding Enthusiast</h1>
            <p class = >Welcome to my website! I'm a high school student with a passion for coding. Here you can learn more about my interests and projects.</p>
        </div>
    </section> 
<head>

</head>

</html>