<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Phat Lorthammakun</title>

    <!-- info for google search engine -->
    <!-- I'm a developer, and students you can come check my site out! -->
    <meta name="description" content="Phat Lorthammakun. I'm a High School student, I like coding!">
    <meta name="keywords" content="phat">
    <meta name="author" content="EpicCatto">

    <!-- Load css  -->
    <link rel="stylesheet" href="css/index.css">

    <!-- load scripts -->
    <script src="https://kit.fontawesome.com/955d8ce723.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!-- embed thingy -->
    <meta content="Phat Lorthammakun" property="og:title" />
    <meta content="Hello my name is Phat Lorthammakun. I'm a High School student, and I like coding!"
        property="og:description" />
    <meta content="https://phatlor.me" property="og:url" />
    <meta content="https://epiccatto.dev/img/mrshark.png" property="og:image" />
    <meta content="#4e99cc" data-react-helmet="true" name="theme-color" />
</head>

<body>

</body>
<html>
<div class="navbar">
    <div class="container data-i18n">
        <p class="head">
            <%= lang.Home.NavTitle %>
        </p>

        <!-- get all the NavItems -->
        <% for (let i=0; i < Object.keys(lang.Home.NavItems).length; i++) { %>
                <!-- add onclick event redirect -->
                <p class="item" onclick="window.location.href='<%= lang.Home.NavItems[i].link %>'">
                    <%= lang.Home.NavItems[i].title %></p>
                    <% } %> 
    </div>

</div>
<section class="section-1">
    <div class="stringcontainer">
        <h1 class="title">Phat Lorthammakun - High School Student and Coding Enthusiast</h1>
        <p class="description">Welcome to my website! I'm a high school student with a passion for coding. Here you can
            learn more about my interests and projects.</p>
    </div>
</section>

<head>

</head>

</html>