<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Phat Lorthammakun</title>

    <!-- info for google search engine -->
    <!-- I'm a developer, and students you can come check my site out! -->
    <meta name="description" content="Phat Lorthammakun. I'm a High School student, I like coding!">
    <meta name="keywords" content="phat">
    <meta name="author" content="EpicCatto">

    <!-- Load css  -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/projects.css">

    <!-- load scripts -->
    <script src="https://kit.fontawesome.com/955d8ce723.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!-- embed thingy -->
    <meta content="Phat Lorthammakun" property="og:title" />
    <meta content="Hello my name is Phat Lorthammakun. I'm a High School student, and I like coding!"
        property="og:description" />
    <meta content="https://phatlor.me" property="og:url" />
    <meta content="https://epiccatto.dev/img/mrshark.png" property="og:image" />
    <meta content="#4e99cc" data-react-helmet="true" name="theme-color" />
</head>

<body>
    <%- include("./template/NavBar.ejs") %>
    <!--  projects -->
    <div class="container-p">
        <!-- started after navbar -->
        <br><br><br><br>
        <center>
            <span id="loading-text">Loading projects please wait...</span>
        </center>
        <div class="projects-container">
        </div>
    </div>
    
    <script src="js/projects.js"></script>
    <script>
        renderProjects();
    </script>
</body>

</html>