<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EpicCatto - Redirecting...</title>

    <!-- <meta name="robots" content="noindex, nofollow"> -->
</head>
<body>
    <p>You will be redirected to <a href="<%= url %>"><%= url %></a> in 5 seconds.</p>
    <script>
        setTimeout(function() {
            window.location.href = "<%= url %>";
        }, 5000);
    </script>
    
</body>
</html>