<!DOCTYPE html>
<html lang="en" id="main">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/index.css">
</head>

<title>Gift - Wei Sun</title>

<body>
    <div class="section-1">
        <div class="stringcontainer">
            <h1 class="title">
                Hey Weisun :) i hope you enjoy this gift 🎁
            </h1>
            <br>
            <p class="description">
                looking forward to getting to know you more as a friend (I guess :P) also thanks for the gift you gave me last time :D it was really nice also dont forget to put the chocolate into a refrigerator.
            </p>
        </div>    
    </div>
    
</body>

</html>